.about {
  &--index {
    display: flex;
    align-items: center;
    .about {
      &__image {
        flex: 0 0 50%;
        min-width: 300px;
        font-size: 0;
        padding-right: 40px;
      }
      &__content{
        flex: 1;
        color: var(--white);
        font-size: 16px;
        line-height: 1.5em;
        text-align: justify;
      }
    }
  }
}
