@media(max-width: 1200px){
  .number{
    &s{

    }
    padding: 15px;
    &__value{
      font-size: 50px;
    }
    &__text{
      font-size: 20px;
    }
  }
}
@media (max-width: 1100px) {
  .header {
    .button {
      font-size: 16px;
    }
  }
  .logo img {
    max-height: 20px;
  }
  .navigation--header {
    padding: 0;
  }
  .product {
    &s {
      &__list {
        gap: 15px;
        .product {
          flex: 0 0 calc(33.3333% - 30px / 3);
        }
      }
    }
    &__footer {
      gap: 15px;
    }
    &--item {
      .product {
        &__title {
          font-size: 24px;
        }
      }
      .button,
      .product__price {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 991px) {
  .toggle {
    display: block;
  }
  .header__inner {
    padding: 10px 0;
  }
  .header__col {
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }
  .banner__title {
    padding-left: 25px;
    h1 {
      font-size: 30px;
    }
    &:before {
      width: 10px;
    }
  }
  .banner__text {
    padding: 15px 0;
  }
  .banner {
    padding: 100px 0;
  }
  .section {
    &__header {
      margin-bottom: 20px;
      h1,
      h2 {
        font-size: 30px;
      }
      &--line {
        h1,
        h2 {
          padding-left: 25px;
          &:before {
            width: 10px;
          }
        }
        &.section__header--right {
          h1,
          h2 {
            padding-right: 25px;
          }
        }
      }
    }
  }
  .tabs {
    &__button {
      font-size: 16px;
    }
  }
  .products__list .product {
    flex: 0 0 calc(50% - 30px / 3);
    padding-top: 50%;
  }
  .products__list {
    padding: 0 15px;
  }
  .benefit {
    width: 33.33333%;
    flex: 0 0 33.3333%;
  }
  .footer__block h3 {
    font-size: 24px;
  }
  .footer__block {
    &s {
      justify-content: flex-end;
    }
    &,
    &:nth-child(2) {
      flex: 0 0 50%;
    }

    margin-bottom: 15px;
    &--wide {
      flex: 0 0 100%;
      margin-bottom: 0;
    }
  }
  .navigation--footer_second{
    flex: 0 0 100%;
    margin-top: 10px;
    ul{
      flex-wrap: wrap;
      gap: 10px;
      li{
        margin-left: 0;
      }
    }
  }
  .contacts__content__block__text{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .contacts__map{
    flex: 1;
  }
}

@media (max-width: 800px) {
  .modal-wrapper .fancybox-close-small {
    top: 0;
    left: auto;
    right: 0;
    background-color: transparent;
  }
  .modal__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .content-block {
    display: block;
    &__images {
      overflow: hidden;
      padding-right: 0;
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 20px;
      min-width: auto;
    }
  }
  .card {
    &__header {
      height: 200px;
      flex: 0 0 200px;
    }
    &__title {
      font-size: 18px;
    }
    &s {
      .slider__inner {
        padding: 0;
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
  .benefit {
    width: 50%;
    flex: 0 0 50%;
  }
  .reviews {
    .slider__inner {
      padding: 0;
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
  .review__header {
    flex-direction: column;
    .rating {
      margin-top: 15px;
    }
  }
  .gallery .swiper-slide {
    padding: 0 30px;
  }
  .section .form__item {
    flex: 0 0 100%;
    margin: 10px 0;
  }
  .footer__block {
    &,
    &:nth-child(2) {
      flex: 0 0 100%;
      margin-bottom: 40px;
    }
    &--wide{
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  .fixed-buttons{
    right: 15px;
    bottom: 15px;
  }
  .banners .banner__title{
    font-size: 30px;
  }
  .banners .banner__text{
    font-size: 18px;
    margin-top: 15px;
  }
  .about__text[data-columns="2"]{
    columns: unset;
  }
  .number{
    &s{
      flex-wrap: wrap;
    }
    flex: 0 0 50%;
    &:nth-child(even){
      &:after{
        display: none;
      }
    }
  }
  .not-found h1{
    font-size: 50px;
  }
  .product__info{
    flex-direction: column;
    &__side{
      flex: 0 0 100%;
      width: 100%;
    }
  }
  .product__colors__panel{
    padding-left: 0;
  }
  .product__footer{
    .button{
      font-size: 14px;
    }
  }
  .fixed-button {
    width: 60px;
    height: 60px;
    &:before {
      border-width: 1px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    }
    .icon {
      width: 20px;
      height: 20px;
      svg {
        max-width: 20px;
        max-height: 20px;
      }
    }
  }
  .fixed-button--top {
    height: 0;
  }
  body.scrolled .fixed-button--top {
    height: 60px;
    margin-top: 10px;
  }
}

@media (max-width: 670px) {
  .products__list .product {
    flex: 0 0 100%;
    padding-top: 100%;
  }
  .section__header {
    h1,
    h2 {
      font-size: 22px;
    }
  }
  .contacts{
    flex-direction: column;
  }
  .contacts__content__block__value{
    font-size: 16px;
  }
}

@media(max-width: 600px){
  .number{
    flex: 0 0 100%;
    &:after{
      display: none;
    }
    &__value{
      font-size: 40px;
    }
  }
  .banners .banner{
    min-height: 50vh;
  }
  .attribute{
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .benefit {
    width: 100%;
    flex: 0 0 100%;
  }
  .videos {
    .slider__inner {
      padding: 0;
    }
  }
  .review {
    &__date-name {
      width: 100%;
    }
    &__header__block {
      flex-direction: column;
      width: 100%;
    }
    &__photo {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .reviews {
    .swiper-pagination:not(:empty) {
      margin-top: 0;
    }
  }
  .banner__title h1{
    font-size: 22px;
  }
  .banners .banner__title{
    font-size: 24px;
  }
}

@media (hover: none) {
  .banner{
    background-attachment: inherit;
  }
}