.banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0;
  &__title{
    padding-left: 40px;
    position: relative;
    h1{
      font-size: 60px;
      color: var(--white);
      font-weight: 800;
      font-family: grandis;
      line-height: 1.2em;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
      background-image: linear-gradient(var(--gradient-start), var(--gradient-end));
    }
  }
  &__text{
    font-size: 18px;
    color: var(--white);
    padding: 35px 0;
  }
}
