.header {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 5;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  .button {
    font-size: 20px;
    padding: 10px;
    font-family: grandis;
    font-weight: 400;
  }
}

.sidebar {
  position: fixed;
  top: 60px;
  height: calc(100% - 60px);
  width: 100%;
  max-width: 320px;
  right: 0;
  z-index: 4;
  background-color: var(--white);
  padding: 15px;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: all 0.3s;
  &__footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .socials{
      margin-bottom: 10px;
      justify-content: center;
    }
    a{
      text-align: center;
    }
  }
  .navigation ul {
    flex-direction: column;
    li {
      margin: 0;
      a {
        &:after {
          display: none;
        }
      }
      &.current_page_item a,
      a:hover {
        color: var(--theme);
      }
    }
  }
}

.navigation-visible {
  .sidebar {
    transform: translateX(0);
    box-shadow: 0 2px 30px 30px rgba(0, 0, 0, 0.2);
  }
}
