.modal {
  width: 100%;
  max-width: 580px;
  padding: 40px;
  display: none;
  &__title {
    text-align: center;
    font-size: 24px;
    font-family: druk;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text{
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
    color: var(--gray-light)
  }
}

.modal-wrapper {
  .fancybox-close-small{
    width: 55px;
    height: 55px;
    color: #5D666D;
    overflow: hidden;
    svg{
      transition: all 0.3s;
    }
    path{
      stroke-width: 1px;
    }
    &:hover{
      svg{
        transform: scale(0.9) rotate(90deg);
      }
    }
  }
  &.fancybox-container{
    font-family: montserrat;
  }
  .fancybox-bg {
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
    background-color: transparent;
  }
  &.fancybox-is-open .fancybox-bg{
    opacity: 1;
  }
}
