.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      margin-right: 20px;
      a {
        line-height: 1em;
        font-size: 18px;
        color: var(--black);
        transition: all 0.3s;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &--header {
    padding: 10px;
    ul {
      li {
        a {
          position: relative;
          padding: 8px;
          text-transform: uppercase;
          font-family: grandis;
          display: block;
          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 0;
            transition: all 0.3s;
            background-image: linear-gradient(
              to left,
              var(--gradient-start),
              var(--gradient-end)
            );
          }
        }

        &.current_page_item a,
        a:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  &--footer {
    ul {
      flex-direction: column;
      li {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          font-size: 20px;
          font-weight: 400;
          color: var(--white);
          transition: all 0.3s;
          &:hover {
            color: var(--theme);
          }
        }
      }
    }
  }
  &--footer_second {
    ul {
      li {
        margin-left: 60px;
        margin-right: 0;
        &:first-child {
          margin-left: 0;
        }
        a {
          padding: 0;
          font-size: 16px;
          color: var(--white);
          &:hover {
            color: var(--theme);
          }
        }
      }
    }
  }
}
