.products {
  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;
    .product {
      flex: 0 0 calc(33.3333% - 40px / 3);
    }
  }
}

.attribute {
  &s {
    background-color: var(--white);
    color: var(--black);
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 1em;
  &:nth-child(odd){
    background-color: #EDF0F5;
  }
}

.product {
  &__title {
    font-size: 34px;
    color: var(--black);
    position: relative;
    padding-left: 25px;
    font-family: grandis;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -0.05em;
      left: 0;
      width: 8px;
      height: 100%;
      background-image: linear-gradient(
        var(--gradient-start),
        var(--gradient-end)
      );
    }
  }
  &__price {
    color: var(--white);
    border: 3px solid var(--white);
    font-weight: 700;
    font-size: 20px;
    padding: 9px;
    line-height: 1em;
  }
  &__footer {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &--item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 34%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background-image: linear-gradient(to top, #0f4a8c, transparent);
      z-index: 1;
    }
    .product {
      &__inner {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        z-index: 2;
      }
      &__title {
        color: var(--white);
        padding-left: 0;
        margin-bottom: 25px;
        &:before {
          display: none;
        }
      }
    }
  }
  &--hidden {
    display: none;
  }
}
