.socials {
  display: flex;
  flex-wrap: wrap;
}

.social {
  width: 32px;
  height: 32px;
  margin-right: 14px;
  display: block;
  transition: all 0.3s;
  font-size: 0;
  &:last-child {
    margin-right: 0;
  }
}
