body {
  --background: #ffffff;
  --gradient-start: #c6e6e6;
  --gradient-end: #7b8eb0;
  --white: #ffffff;
  --black: #000000;
  --gray: #292929;
  --gray-light: #b3b3b3;
  --gray-section: #f1f1f1;
  --border-color: #bdbdbd;
  --theme: #1a54fe;
  --theme-light: #abadd8;
  --red: #ff0000;
  --container-wide-width: 1400px;
  --container-width: 1200px;
  --star-gray: #e4e4e4;
  --star-gold: #ebc35c;
}
@import 'js/fancybox/fancybox.css';
@import 'js/swiper/swiper.min.css';

@import 'scss/animations';
@import 'scss/fonts';

@import 'scss/wordpress-fixies';
@import 'scss/modal';
@import 'scss/control';
@import 'scss/form';
@import 'scss/content';
@import 'scss/common';
@import 'scss/404';

@import 'scss/preloader';
@import 'scss/lazy';
@import 'scss/header';
@import 'scss/contacts';

@import 'scss/banners';
@import 'scss/gallery';
@import 'scss/review';
@import 'scss/videos';

@import 'scss/about';
@import 'scss/footer';
@import 'scss/socials';
@import 'scss/navigation';
@import 'scss/products';

@import 'scss/adaptive';
